<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guang.mapper.UserMapper">
	<resultMap id="User" type="com.guang.po.User">
		<!--
		  @haoxz11MyBatis
		  表
		-->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="telphone" jdbcType="VARCHAR" property="telphone" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
	</resultMap>
	<insert id="insertUser" parameterType="com.guang.po.User" useGeneratedKeys="true">
		<!--
		  @haoxz11MyBatis
		  插入记录
		-->
		<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
			SELECT LAST_INSERT_ID() AS id
		</selectKey>
		<![CDATA[
		insert into user (telphone, `password`, `name`, 
			create_time, update_time)
		values (#{telphone,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
			sysdate(), #{updateTime,jdbcType=TIMESTAMP})
		]]>
	</insert>
	<update id="updateUser" parameterType="com.guang.po.User">
		<!--
		  @haoxz11MyBatis
		  更新记录
		-->
		update user
		<set>
			<if test="telphone != null">
				telphone = #{telphone,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				`password` = #{password,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				`name` = #{name,jdbcType=VARCHAR},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=BIGINT}
	</update>
	<select id="getByPrimaryKey" parameterType="java.lang.Long" resultMap="User">
		<!--
		  @haoxz11MyBatis
		  根据主键查询记录
		-->
		select  * from user where id = #{id,jdbcType=BIGINT}
	</select>
	
	<select id="getListByWhere" parameterType="map" resultMap="User">
		<!--
		  @haoxz11MyBatis
		  搜索列表
		-->
		select
		<if test="FIELDS != null">
			${FIELDS}
		</if>
		<if test="FIELDS == null">
			*
		</if>
		from user
		<include refid="whereSQL" />
		<if test="ORDERLIST != null">
			 ORDER BY ${ORDERLIST}
		</if>
	</select>
	<select id="getCountByWhere" parameterType="map" resultType="java.lang.Integer">
		<!--
		  @haoxz11MyBatis
		  得到搜索的记录数量
		-->
		select count(*) from user
		<include refid="whereSQL" />
	</select>
	<sql id="whereSQL">
		<!--
		
		  搜索记录，可修改
		-->
		<where>
			<if test="id != null">
				<![CDATA[ AND id = #{id,jdbcType=BIGINT} ]]> 
			</if>
			<if test="telphone != null">
				<![CDATA[ AND telphone = #{telphone,jdbcType=INTEGER} ]]> 
			</if>
			<if test="password != null">
				<![CDATA[ AND `password` = #{password,jdbcType=VARCHAR} ]]> 
			</if>
			<if test="name != null">
				<![CDATA[ AND `name` = #{name,jdbcType=VARCHAR} ]]> 
			</if>
			<if test="updateTime != null">
				<![CDATA[ AND update_time = #{updateTime,jdbcType=DATE} ]]> 
			</if>
		</where>
	</sql>
</mapper>